---
import Layout from "@layouts/Layout.astro";
import Header from "@templates/Header/Header.astro";
import {
  BLOG_CONTROL_EXCEL_COMPLETE_ROUTE,
  BLOG_ROUTE,
  HOME_ROUTE,
  BLOG_CONTROL_EXCEL_ROUTE,
  CONTROL_EXCEL_IMG,
  HOW_OBTAIN_COPY_IMG,
} from "@constants";
import Footer from "@templates/Footer.astro";
import Section from "@components/Blog/Section.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Control de gastos en Excel: Guía fácil para organizar tus finanzas"
  metaDescription="Aprende cómo hacer un control de gastos en Excel fácil y rápido. Usa las plantillas para gestionar tus finanzas personales. ¡Descárgala ahora!"
  ogTitle="Control de gastos en Excel: Guía fácil para organizar tus finanzas | Blogs de Budget Master"
  ogURL={BLOG_CONTROL_EXCEL_COMPLETE_ROUTE}
  ogDescription="Aprende cómo hacer un control de gastos en Excel fácil y rápido. Usa las plantillas para gestionar tus finanzas personales. ¡Descárgala ahora!"
  hrefCanonical={BLOG_CONTROL_EXCEL_COMPLETE_ROUTE}
>
  <div class="bg-dark-blue">
    <div class="max-w-7xl mx-auto">
      <Header isBlog />
    </div>
  </div>

  <section class="max-w-7xl mx-auto mt-4 pl-3 lg:pl-0">
    <article class="inline-flex gap-2">
      <a class="text-gray-500 hover:underline" href={HOME_ROUTE}>Inicio</a>
      <span>></span>
      <a class="text-gray-500 hover:underline" href={BLOG_ROUTE}>Blog</a>
      <span>></span>
      <a href={BLOG_CONTROL_EXCEL_ROUTE} class="hover:underline"
        >Control de gastos en Excel: Guía completa con ejemplos y plantillas</a
      >
    </article>
  </section>

  <main
    class="flex flex-col items-center gap-12 max-w-7xl mx-auto px-3 md:px-0"
  >
    <Section class="mt-8 justify-items-center">
      <h1 class="text-3xl font-bold mb-5 text-center text-p-black">
        Control de gastos en Excel: Guía completa con ejemplos y plantillas
      </h1>
      <Image
        src={CONTROL_EXCEL_IMG}
        alt="Imagen previa del blog: Control de gastos en Excel"
        width="1280"
        height="853"
      />
      <p class="text-lg text-pretty">
        Si a final de mes, tu cuenta bancaria parece terreno desolado,
        probablemente sea hora de poner orden a tus finanzas. Usar Excel puede
        ser una gran herramienta para controlar tus gastos.
      </p>
      <ul class="pl-6 justify-self-start">
        <li class="list-disc text-lg">
          <span class="font-semibold">Es gratis (o casi):</span> Depende si tienes
          computadora, la licencia de Excel. Puedes usar Google sheets como una opción
          gratuita
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Tienes más control:</span> Decides como organizar
          tus gastos y personalizarlo a tu medida
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Tiene formulas mágicas:</span> Son simples
          formulares como SUMA, PROMEDIO entre otros, puedes hacer cálculos automáticos
          y saber exactamente en qué se va tu dinero. Un par de clicks y ya lo tienes.
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Puedes integrar gráficas:</span>
          Agrega colores y formas fáciles de entender. No solamente “¿En qué me gasté
          todo?”, ahora lo verás claramente.
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Funciona sin internet: </span>En caso de
          que tengas tu archivo localmente, no necesitas conexión a internet.
        </li>
      </ul>
    </Section>

    <Section>
      <h2 class="text-2xl font-semibold text-center text-p-black">
        Ejemplo real: Cómo usar un control de gastos en Excel en el día a día
      </h2>
      <p class="text-lg text-pretty">
        La clave está en registrar los gastos en el momento. ¿Compraste un
        chicle? ¡Anótalo! Puede parecer exagerado, pero esos pequeños gastos son
        como hormigas que se comen tu presupuesto.
      </p>

      <article class="flex flex-col gap-4">
        <h4 class="text-2xl font-semibold text-center text-p-black">
          Control de gastos personales para ahorro
        </h4>
        <p class="text-lg text-pretty">
          El método 70-20-10 es tan fácil de recordar. Veamos cómo implementarlo
          en tu Excel:
        </p>

        <section class="flex flex-col gap-3">
          <h5 class="text-xl font-semibold text-center text-p-black">
            La magia del 70%: Necesidades básicas
          </h5>
          <p class="text-lg text-pretty">
            Este es el grueso de tu presupuesto. Aquí entra:
          </p>
          <ul class="pl-6 justify-self-start">
            <li class="list-disc text-lg">
              Renta o hipoteca (ese techo que te protege de la lluvia)
            </li>
            <li class="list-disc text-lg">
              Servicios básicos (porque Netflix necesita electricidad para
              funcionar)
            </li>
            <li class="list-disc text-lg">
              Alimentación (incluyendo esos vegetales que compraste con muy
              buenas intenciones)
            </li>
            <li class="list-disc text-lg">
              Transporte (sea tu fiel automóvil o el transporte público)
            </li>
            <li class="list-disc text-lg">
              Seguros (porque más vale prevenir que lamentar)
            </li>
            <li class="list-disc text-lg">Gastos médicos básicos</li>
          </ul>
        </section>

        <section class="flex flex-col gap-3">
          <h5 class="text-xl font-semibold text-center text-p-black">
            El divertido 20%: Gustos y antojos
          </h5>
          <p class="text-lg text-pretty">
            ¡Aquí es donde la vida se pone interesante! Este porcentaje es para:
          </p>
          <ul class="pl-6 justify-self-start">
            <li class="list-disc text-lg">
              Salidas con amigos (porque las risas no tienen precio, pero la
              cuenta del restaurante sí)
            </li>
            <li class="list-disc text-lg">
              Ropa nueva (para esas ocasiones en que tu closet está "lleno" pero
              no tienes "nada que ponerte")
            </li>
            <li class="list-disc text-lg">
              Entretenimiento (desde tu suscripción a streaming hasta ese nuevo
              videojuego)
            </li>
            <li class="list-disc text-lg">
              Hobbies (porque necesitas algo que hacer además de mirar tu Excel
              de gastos)
            </li>
          </ul>
        </section>

        <section class="flex flex-col gap-3">
          <h5 class="text-xl font-semibold text-center text-p-black">
            El poderoso 10%: Ahorro
          </h5>
          <p class="text-lg text-pretty">
            Pequeño pero poderoso, como un chile habanero. Este porcentaje es
            sagrado:
          </p>
          <ul class="pl-6 justify-self-start">
            <li class="list-disc text-lg">
              Fondo de emergencias (para esos momentos "¿y ahora qué hago?")
            </li>
            <li class="list-disc text-lg">
              Inversiones (porque tu dinero también debe trabajar)
            </li>
            <li class="list-disc text-lg">
              Metas a largo plazo (ese viaje soñado no se pagará solo)
            </li>
          </ul>
        </section>
      </article>
    </Section>

    <Section>
      <h3 class="text-2xl font-semibold text-center text-p-black">
        Descarga una plantilla gratuita para control de gastos
      </h3>
      <p class="text-lg text-pretty">
        Aquí hay algunas recomendaciones de plantillas gratuitas para usarse con
        Google Sheets para que controles tus gastos de manera sencilla y
        efectiva. Así, podrás gestionar tu presupuesto sin complicaciones y sin
        gastar un centavo extra.
      </p>
      <p class="text-lg text-pretty">
        No somos creadores de estas plantillas. Estas plantillas fueron creadas
        en <a
          rel="noopener"
          target="_blank"
          class="text-blue-800"
          href="https://thegoodocs.com/es/freebies/budget-templates/"
          >thegooddocs.com</a
        >. y están en inglés. Nos tomamos la libertad de traducirlas al español
        para tu comodidad.
      </p>
      <p class="text-xl text-pretty font-semibold">
        ¿Cómo puedo obtener una copia?
      </p>
      <p class="text-lg text-pretty">
        Una vez que abras en link, se abrirá la plantilla. Dirígete al menú
        localizado en la parte superior izquierda. Da click en “Archivo”, luego
        en “Hacer una copia”.
      </p>
      <picture class="justify-self-center">
        <Image
          src={HOW_OBTAIN_COPY_IMG}
          alt="¿Cómo sacar una copia de la plantilla?"
          width="410"
          height="221"
        />
      </picture>
    </Section>
  </main>
  <Footer />
</Layout>
