---
import Layout from "@layouts/Layout.astro";
import Header from "@templates/Header/Header.astro";
import {
  BLOG_CASHBACK_COMPLETE_ROUTE,
  BLOG_CASHBACK_ROUTE,
  HOME_ROUTE,
  BLOG_ROUTE,
  CASHBACK_THUMBNAIL,
} from "@constants";
import Section from "@components/Blog/Section.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Cashback: qué es, cómo se usa y dónde aprovecharlo"
  metaDescription="Cashback: qué es y cómo ganar dinero con él. Obtén reembolsos por tus compras y optimiza tu presupuesto. Aprende a usarlo ahora."
  ogTitle="Cashback: qué es, cómo se usa y dónde aprovecharlo | Blogs de Budget Master"
  ogURL={BLOG_CASHBACK_COMPLETE_ROUTE}
  ogDescription="Cashback: qué es y cómo ganar dinero con él. Obtén reembolsos por tus compras y optimiza tu presupuesto. Aprende a usarlo ahora."
  hrefCanonical={BLOG_CASHBACK_COMPLETE_ROUTE}
>
  <div class="bg-dark-blue">
    <div class="max-w-7xl mx-auto">
      <Header isBlog />
    </div>
  </div>

  <div class="max-w-7xl mx-auto mt-4 pl-3 lg:pl-0">
    <nav class="inline-flex gap-2">
      <a class="text-gray-500 hover:underline" href={HOME_ROUTE}>Inicio</a>
      <span>></span>
      <a class="text-gray-500 hover:underline" href={BLOG_ROUTE}>Blog</a>
      <span>></span>
      <a href={BLOG_CASHBACK_ROUTE} class="hover:underline"
        >Cashback: qué es y cómo obtener reembolsos en cada compra</a
      >
    </nav>
  </div>

  <main
    class="flex flex-col items-center gap-16 max-w-7xl mx-auto px-3 md:px-0"
  >
    <Section>
      <h1
        transition:name="title-cashback"
        class="text-4xl font-bold mb-5 text-center text-p-black"
      >
        Cashback: qué es y cómo obtener reembolsos en cada compra
      </h1>
      <Image
        src={CASHBACK_THUMBNAIL}
        transition:name="img-cashback"
        alt="Imagen previa del blog: Control de gastos en Excel"
        width="1280"
        height="853"
      />
      <p class="text-lg text-pretty">
        Cashback es una manera en la que <span class="font-semibold"
          >te recompensan cada vez que gastas en tu tarjeta de crédito o débito.</span
        > Es un término en inglés que se puede traducir como “Dinero de vuelta”.
      </p>
      <p class="text-lg text-pretty">Ventajas:</p>
      <ul class="pl-6 justify-self-start">
        <li class="list-disc text-lg">
          <span class="font-semibold"
            >Recompensas en puntos o dinero en efectivo:</span
          > Es el principal beneficio al gastar tu dinero con este tipo de productos
          financieros
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Sin complicaciones:</span> Si eliges una tarjeta
          que se adecue a tus gastos y estilo de vida, se te recompensara por mantener
          los mismos hábitos de gasto.
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Bonificaciones:</span> Algunas tarjetas ofrecen
          beneficios adicionales como recompensas al llegar a cierto limite de gasto
          al mes
        </li>
      </ul>

      <p class="text-lg text-pretty">Consideraciones:</p>
      <ul class="pl-6 justify-self-start">
        <li class="list-disc text-lg">
          <span class="font-semibold">Alto interés:</span> Si no te es posible pagar
          en su totalidad la cuenta en un mes, los intereses asociados pueden ser
          altos.
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Posibles comisiones:</span> Pueden venir con
          comisiones anuales o mensuales. Sin embargo, hay productos que te condonan
          ciertas comisiones si cumples con alguna condición
        </li>
        <li class="list-disc text-lg">
          <span class="font-semibold">Tentación de gastar de más:</span> El incentivo
          de cashback puede influenciar a las personas a gastar de mas o fuera de
          sus posibilidades de pago.
        </li>
      </ul>

      <p class="text-lg text-pretty">
        Algunas tarjetas de crédito con cashback en México que te recomendamos
        revisar son:
      </p>
      <ul class="pl-6 justify-self-start">
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://platacard.mx/es/">Plata Card</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://www.storicard.com/stori-black">Stori black</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://www.hsbc.com.mx/tarjetas-de-credito/productos/2now/"
            >2Now</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://vexi.mx/vexi-american-express/"
            >Tarjeta Vexi American Express</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://www.klar.mx/platino">Tarjeta Klar Platino</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://web.didiglobal.com/mx/tarjeta-de-credito/"
            >Didi Card</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://www.santander.com.mx/personas/tarjetas-de-credito/likeu.html"
            >Tarjeta LikeU Santander</a
          >
        </li>
        <li class="list-disc text-lg">
          <a
            target="_blank"
            class="list-disc text-lg"
            href="https://www.banregio.com/personas/tarjetas/mas.php"
            >Tarjeta Banregio Más
          </a>
        </li>
      </ul>
    </Section>
  </main>
</Layout>
