---
import {
  BLOG_ROUTE,
  HOME_ROUTE,
  BUDGET_MASTER_LOGIN_ROUTE,
  BUDGET_MASTER_REGISTER_ROUTE,
} from "@constants";
import Logo from "@components/Logo.astro";

export interface Props {
  isBlog?: boolean;
}

const { isBlog = false } = Astro.props;
const links = {
  blogHome: {
    text: isBlog ? "Inicio" : "Blog",
    href: isBlog ? HOME_ROUTE : BLOG_ROUTE,
    title: isBlog ? "Ir al inicio" : "Navegar al blog de Budget Master",
  },
};
---

<header class="w-full max-h-32 px-5 py-6 md:p-3 grid grid-cols-[30%,70%]">
  <Logo isBlog={isBlog} />
  <nav class="w-full justify-items-end flex items-center gap-6 justify-end">
    <a
      title="Inicia sesión en Budget Master"
      class:list={["h-7 text-lg text-p-white", { "text-p-black": isBlog }]}
      href={BUDGET_MASTER_LOGIN_ROUTE}>Iniciar sesión</a
    >
    <a
      title="Registrate en Budget Master"
      class:list={["h-7 text-lg text-p-white", { "text-p-black": isBlog }]}
      href={BUDGET_MASTER_REGISTER_ROUTE}>Registrate</a
    >
    <a
      title={links.blogHome.title}
      class:list={["h-7 text-lg text-p-white", { "text-p-black": isBlog }]}
      href={links.blogHome.href}>{links.blogHome.text}</a
    >
  </nav>
</header>

<style>
  a {
    transition: all 0.4s ease-in-out 0s;
    position: relative;
    border-bottom: 2px solid var(--white);
    white-space: nowrap;
  }
  a:hover {
    transform: translateY(-3px);
  }
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition:
      width 0.3s ease,
      left 0.3s ease;
  }

  a:hover::after {
    width: 100%;
    left: 0;
  }
  @media (min-width: 1024px) {
    a {
      border-bottom: none;
    }
  }
</style>
