---
import {
  ALIAS_TARJETA_IMG,
  BLOG_ALIAS_CARD_ARTICLE_ROUTE,
  COMPLETE_BLOG_ROUTE,
  BLOG_ROUTE,
  HOME_ROUTE,
  BLOG_CONTROL_EXCEL_ROUTE,
  CONTROL_EXCEL_IMG,
} from "@constants";
import Layout from "@layouts/Layout.astro";
import Header from "@templates/Header/Header.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Blog de Budget Master: Consejos expertos en finanzas personales"
  metaDescription="Descubre los mejores consejos y estrategias para mejorar tus finanzas en el blog de Budget Master.¡Empieza a tomar el control de tu dinero hoy!"
  ogTitle="Budget Master | Blogs"
  ogDescription="Aquí encontrarás contenido práctico, claro y atractivo para mejorar tus finanzas y entenderlas como un experto"
  ogURL={COMPLETE_BLOG_ROUTE}
  hrefCanonical={COMPLETE_BLOG_ROUTE}
>
  <div class="bg-dark-blue">
    <div class="max-w-7xl mx-auto">
      <Header isBlog />
    </div>
  </div>

  <div class="max-w-7xl mx-auto mt-4 pl-3 lg:pl-0">
    <article class="inline-flex gap-2">
      <a class="text-gray-500 hover:underline" href={HOME_ROUTE}>Inicio</a>
      <span>></span>
      <a class="hover:underline" href={BLOG_ROUTE}>Blog</a>
    </article>
  </div>

  <h1 class="text-3xl font-bold my-4 text-center text-p-black">Blog</h1>
  <section
    class="mt-20 flex flex-col md:flex-row items-center md:items-start max-w-7xl mx-auto gap-6"
  >
    <article class="flex flex-col gap-4 max-w-[300px]">
      <Image
        src={ALIAS_TARJETA_IMG}
        alt="Imagen previa del blog de ¿Qué es el alias de la tarjeta?"
        width="300"
        height="300"
      />
      <a
        href={BLOG_ALIAS_CARD_ARTICLE_ROUTE}
        title="Ir a blog: Alias de la Tarjeta: Qué Es, Para Qué Sirve y Cómo Usarlo"
        class="text-xl font-semibold transition-colors duration-300 hover:text-complementary"
      >
        Alias de la Tarjeta: Qué Es, Para Qué Sirve y Cómo Usarlo
      </a>
      <p class="text-gray-600 text-lg text-pretty">
        Conoce ejemplos reales de alias. Errores comúnes y cómo evitarlos,
        consejos de seguridad y comparación con otros bancos.
      </p>
    </article>

    <article class="flex flex-col gap-4 max-w-[300px]">
      <Image
        src={CONTROL_EXCEL_IMG}
        alt="Imagen previa del blog de Control de gastos en Excel"
        width="300"
        height="300"
      />
      <a
        href={BLOG_CONTROL_EXCEL_ROUTE}
        title="Ir a blog: Control de gastos en Excel: Guía completa con ejemplos y plantillas"
        class="text-xl font-semibold transition-colors duration-300 hover:text-complementary"
      >
        Control de gastos en Excel: Guía completa con ejemplos y plantillas
      </a>
      <p class="text-gray-600 text-lg text-pretty">
        Aprende cómo hacer un control de gastos en Excel fácil y rápido.
        Descarga 3 diferentes plantillas para gestionar tus finanzas personales
        de forma efectiva. Conoce ejemplos reales y alternativas a las
        plantillas.
      </p>
    </article>
  </section>
</Layout>
